header {
    background-color: #45517D;
    color: white;
    font-size: 120%;
    text-align: right;
    height: 60px;
}
#left {
    background-color: #61b2ec;
    width: 40%;
    height: 500px;
}
#right {
    background-color: #8ec9f2;
    width: 60%;
    height: 500px;
}
footer {
    background-color: #45517D;
    color:white;
    font-size: 150%;
    text-align: center;
}
a {
    color: orange;
}
a:visited {
    color:green;
}
table {
    width:100%;
}
main {
    display:flex;
}