header {
    background-color: #5a9089;
    color: white;
    font-family: Verdana;
    text-align: center;
    height: 100px;
}
main {
    display: flex;
}
#left {
    background-color: #bad2cf;
    width:55%;
    height: 600px;
}
#right {
    background-color: #88afaa;
    width: 45%;
    height: 600px;
}
footer {
    background-color: #5a9089;
    color: white;
    text-align: right;
}
table, td {
    border: 1px dotted green;
    width: 400px;
    margin: 15px;
    text-align: center;
}
img {
    padding: 25px;
}
ul {
    list-style-type: circle;
}