html {
    font-family: Verdana;
}
#logo {
    background-color: #ff9f79;
    height:270px;
    width:30%;
}
#lista, #form {
    background-color: #ff9f79;
    color: green;
    height: 270px;
    width: 35%;
}
main {
    background-color: #B0CDAC;
    height: 400px;
    padding: 30px;
    text-align: center;
}
footer {
    background-color: #188256;
    height: 150px;
    padding: 10px;
}
a:active {
    background-color: green;
    margin:10px;
    padding: 10px;
    border: 2px solid orange;
}
a:visited {
    background-color: violet;
}
#top {
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
}